<app-sidebar></app-sidebar>
<h2>
  Items:
</h2>

<div *ngIf="selectedItem">
  <h2>
    {{selectedItem.name | uppercase}} is my favourite item
  </h2>
  <button (click)="gotoDetail()">View Details</button>
  <button (click)="gotoCategory()">View All Items Of This Category</button>
</div>

<h3>
  <ul class="items">
    <li *ngFor="let item of items"
        (click)="onSelect(item)"
        [class.selected]="item === selectedItem">
    <span class="badge">
      <label>id: </label>{{item.id}}
    </span>
      <label>name: </label>{{item.name}}
    </li>
  </ul>

</h3>
