.header-root {
  height: 3.5em;
  width: 100%;
  background-color: #d9d9d9;
  border-bottom: 1px solid black;

}

.header-center {
  font-size: 2em;
  text-align: center;
  float: left;
  width: 30%;
  line-height: 3.5rem;
  margin-left: 35%;
}

.header-right {
  float: left;
  width: 35%;
  text-align: right;
  line-height: 3.5em;
}

button {
  padding: 5pt;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  margin-right: 1em;
  margin-left: 1em;
}

.button-container {
  line-height: 1em;
}
