table {
  width: 100%;
}

table tr:nth-child(even) {
  background-color: beige;
}
table tr:nth-child(odd) {
  background-color:palegoldenrod;
}
table th {
  background-color: deeppink;
  color: lightpink;
}
