<app-header></app-header>
<app-sidebar></app-sidebar>
<div style="margin-left:25%">
  <h2 *ngIf="category">
      {{category.name}}
  </h2>

  <table>
    <tr>
      <th>Todo</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
    <tr *ngIf="inputItem">
      <td><input type="checkbox" [checked]="inputItem.todo" (change)="updateCheckbox(inputItem)"/></td>
      <td><input [(ngModel)]="inputItem.name" placeholder="name"></td>
      <td><input [(ngModel)]="inputItem.rating" placeholder="rating"></td>
      <td>
        <button (click)="saveItem(inputItem)">Save</button>
      </td>
    </tr>
    <tr *ngFor="let item of items"
        (click)="onSelect(item)"
        [class.selected]="item === selectedItem">
      <td><input type="checkbox" [checked]="item.todo" (change)="updateCheckbox(item)"/></td>
      <td>{{item.name}}</td>
      <td><input [(ngModel)]="item.rating" (change)="updateItem(item)" placeholder="rating"></td>
      <td><button (click)="deleteItem(item)">Delete</button></td>
    </tr>
  </table>
  <button (click)="goBack()">Back</button>
  <button (click)="deleteCategory(category)">Delete collection</button>
</div>
