<app-sidebar></app-sidebar>
<h2>
  <!--Items of category: {{category.name}}-->

  <div *ngIf="category">
    {{category.name}}
  </div>
</h2>
<div *ngIf="selectedItem">
  <h2>
    You are editing {{selectedItem.name | uppercase}}
  </h2>
</div>

<h3>
  <ul class="items">
    <li *ngFor="let item of items"
        (click)="onSelect(item)"
        [class.selected]="item === selectedItem">
    <span class="badge">
      <label>{{item.name}}</label>
    </span>
      <label>todo:
        <input type="checkbox" [checked]="item.todo" (change)="item.todo = !item.todo"/>
      </label>
      <label *ngIf="!item.todo"> rating:
        <input [(ngModel)]="item.rating" placeholder="rating">
      </label>
    </li>
  </ul>

</h3>
<button (click)="goBack()">Back</button>
