<app-sidebar></app-sidebar>
<h2>
  <!--Items of category: {{category.name}}-->

  <div *ngIf="category">
    {{category.name}}
  </div>
</h2>

<div *ngIf="inputItem">
<span class="badge">
      <label> todo:
        <input type="checkbox" [checked]="inputItem.todo" (change)="saveCheckbox(inputItem)"/>
      </label>
    </span>
<label> name:
  <input [(ngModel)]="inputItem.name" placeholder="name">
</label>
<label *ngIf="!inputItem.todo"> rating:
  <input [(ngModel)]="inputItem.rating" placeholder="rating">
</label>
<button (click)="saveItem(inputItem)">Save</button>
</div>

<div *ngIf="selectedItem">
  <h2>
    You are editing {{selectedItem.name | uppercase}}
  </h2>
</div>

<h3>
  <ul class="items">
    <li *ngFor="let item of items"
        (click)="onSelect(item)"
        [class.selected]="item === selectedItem">
    <span class="badge">
      <label>
        <input type="checkbox" [checked]="item.todo" (change)="saveCheckbox(item)"/>
      </label>
    </span>
      <label>{{item.name}}</label>
      <label *ngIf="!item.todo"> rating:
        <input [(ngModel)]="item.rating" placeholder="rating">
      </label>
      <button (click)="deleteItem(item)">Delete</button>
    </li>
  </ul>

</h3>
<button (click)="goBack()">Back</button>
